* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: poppins, sans-seif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  flex: 0.5;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  padding: 10px;
}
.header-section .btn {
  height: 40px;
  width: 150px;
  margin-top: 50px;
  margin-right: 20px;
}
.header-section .btn-2 {
  height: 40px;
  width: 150px;
  margin-top: 19px;
}
.btn:hover {
  background-color: #333;
  color: white;
}
.btn-2:hover {
  background-color: #333;
  color: white;
}
.btn {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-2 {
  padding: 10px;
  background-color: white;

  border-radius: 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  box-sizing: border-box;
  font-size: 50px;
  font-weight: bolder;

  color: white;
  font-style: none;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-right: 110px;
  margin-left: 200px;
}

.body-section {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-section {
  flex: 5;

  box-sizing: border-box;
  width: 100%;
  height: 10%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
}
.date {
  padding-bottom: 60px;
}
.date input {
  width: 70%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.date input::placeholder {
  color: black;
  padding-left: 3px;
}
.date label {
  margin-right: 63px;
  padding-right: 34px;
  font-size: 18px;
  color: white;
}
.day {
  padding-bottom: 60px;
}
.day input {
  width: 70%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.day input::placeholder {
  color: black;
  padding-left: 3px;
}
.day label {
  margin-right: 103px;
  align-content: space-between;
  font-size: 18px;
  color: white;
}
.docname {
  padding-bottom: 60px;
}
.docname input {
  width: 70%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.docname input::placeholder {
  color: black;
  padding-left: 3px;
}
.docname label {
  margin-right: 25px;
  align-content: space-between;
  padding-right: 5px;
  font-size: 18px;
  color: white;
}
.session {
  padding-bottom: 60px;
}
.session input {
  width: 70%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.session input::placeholder {
  color: black;
  padding-left: 3px;
}
.session label {
  margin-right: 60px;
  align-content: space-between;
  padding-right: 5px;
  font-size: 18px;
  color: white;
}

.left-side-search-section {
  flex: 3;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-left: 40px;
  padding-bottom: 0;
}

.right-side-search-section {
  flex: 3;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 0;

  justify-content: center;
}
.docid {
  padding-bottom: 60px;
}
.docid input {
  width: 70%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.docid input::placeholder {
  color: black;
  padding-left: 3px;
}
.docid label {
  margin-right: 62px;
  align-content: space-between;
  font-size: 18px;
  color: white;
}

.start {
  padding-bottom: 60px;
}
.start input {
  width: 70%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.start input::placeholder {
  color: black;
  padding-left: 3px;
}
.start label {
  margin-right: 45px;
  align-content: space-between;
  font-size: 18px;
  color: white;
}
.end {
  padding-bottom: 60px;
}
.end input {
  width: 70%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.end input::placeholder {
  color: black;
  padding-left: 3px;
}
.end label {
  margin-right: 50px;
  align-content: space-between;
  font-size: 18px;
  color: white;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  height: 100px;

  cursor: pointer;
}
.content-section .create-btn {
  margin-left: 35%;
  margin-top: -50px;
}
.create-btn {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 30%;
}

.create-btn:hover {
  background-color: black;
  color: white;
}
