.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
}
.doctor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  // overflow-y: auto;
  background-position: center;
}

.box {
  flex: 0 0 15%;
  margin-top: 48px;
  margin-left: 60px;
  text-align: center;

  background: #fff;
  border-radius: 12px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  max-height: 280px;
  backdrop-filter: blur(8px);
  overflow: hidden;
  padding-top: 20px;
}

.box img {
  max-width: 100%;
  max-height: 60%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box h3 {
  padding-bottom: 0px;
  color: black;
}
.box p {
  margin-top: 0px;
  padding-top: 0px;
  color: black;
}
.box button {
  border-radius: 20px;
  border: none;
  background: black;
  color: white;
  height: 30px;
  cursor: pointer;
  padding-top: 0px;
}
.box button:hover {
  background: aqua;
  color: black;
  cursor: pointer;
}
.box button:active {
  transform: translateY(3px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.doclist {
  min-height: 100vh;

  background-position: center;
  display: flex;
  flex-wrap: wrap;
}
.title {
  box-sizing: border-box;
  font-size: 50px;
  font-weight: bolder;

  color: white;
  font-style: none;
  padding-top: 40px;

  position: sticky;

  margin-right: 200px;
  margin-left: 450px;
}
.doctor-container {
  height: 75vh;
  overflow: auto;
}
.position {
  height: 90vh;
  position: sticky;
}

.name-search {
  padding-top: 40px;
  margin-left: 180px;
}
.name-search input {
  width: 100%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
  margin-left: 210px;
}
.name-search input::placeholder {
  color: black;
  padding-left: 3px;
}
