* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: poppins, sans-seif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  flex: 0.5;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  padding: 10px;
}
.header-section .btn {
  height: 40px;
  width: 150px;
  margin-top: 19px;
  margin-right: 20px;
}
.header-section .btn-2 {
  height: 40px;
  width: 150px;
  margin-top: 19px;
}
.btn:hover {
  background-color: #333;
  color: white;
}
.btn-2:hover {
  background-color: #333;
  color: white;
}
.btn {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-2 {
  padding: 10px;
  background-color: white;

  border-radius: 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  box-sizing: border-box;
  font-size: 50px;
  font-weight: bolder;

  color: white;
  font-style: none;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-right: 200px;
  margin-left: 200px;
}

.body-section {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-section {
  flex: 5;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
}
.date-search {
  padding-bottom: 20px;
}
.date-search input {
  width: 30%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.date-search input::placeholder {
  color: black;
  padding-left: 3px;
}
.date-search label {
  margin-right: 35px;
  padding-right: 34px;
  font-size: 18px;
  color: white;
}
.day-search {
  padding-bottom: 20px;
}
.day-search input {
  width: 30%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.day-search input::placeholder {
  color: black;
  padding-left: 3px;
}
.day-search label {
  margin-right: 75px;

  align-content: space-between;
  font-size: 18px;
  color: white;
}
.session-searchh {
  padding-bottom: 20px;
}
.session-search input {
  width: 30%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
.session-search input::placeholder {
  color: black;
  padding-left: 3px;
}
.session-search label {
  margin-right: 10px;
  align-content: space-between;
  padding-right: 30px;
  font-size: 18px;
  color: white;
}

.left-side-search-section {
  flex: 3;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-left: 70px;
}

.right-side-search-section {
  flex: 1;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  overflow-y: auto;
  cursor: pointer;
}

.content-section table {
  width: 100%;
  border-collapse: collapse;
}

.content-section th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 2;
}

.content-section tbody tr:nth-child(even) {
  --even-row-background-color: #f9f9f9;
  background-color: var(--even-row-background-color);
}

.content-section td {
  padding: 10px;
  border: 3px solid #ddd;
  position: relative;
  z-index: 1;
}

.edit-button {
  color: black;
  border: none;
  padding: 10px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}

.content-section tbody tr:nth-child(even) .edit-button {
  background-color: black;
  color: white;
}

.edit-button:focus,
.edit-button:hover {
  background-color: #333;
}

.create-btn {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 30%;
}

.create-btn:hover {
  background-color: black;
  color: white;
}
