@import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900& display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    text-decoration: none;
}
.container {
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: poppins,sans-seif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "poppins",sans-serif;
}

.header-section {
    flex:.5;
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "poppins",sans-seif;
    padding: 10px;
    
}
.header-section .btn{
    
    height: 40px;
    width: 150px;
    margin-top: 50px;
    margin-right: 20px;
   
 
  }
  .header-section .btn-2{
    height: 40px;
    width: 150px;
    margin-top: 19px;
 
  }
  .btn:hover{
      background-color: #333;
      color: white;
  }
  .btn-2:hover{
    background-color: #333;
    color: white;
}
.btn{
    
    padding:10px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-family: "poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-2{
    padding:10px;
    background-color:white;
  
    border-radius: 20px;
    border: none;
    font-family: "poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: white;
    font-style: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-right: 110px;
    margin-left: 200px;
}


.body-section {
    
    
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.search-section {
    flex: 5;
    
    box-sizing: border-box;
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    
    
}
.name{
    padding-bottom: 60px;
}
.name input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.name input::placeholder {
    color:black;
    padding-left: 3px;
}
.name label {

    margin-right: 20px; 
    padding-right: 34px;
    font-size: 18px;
    color:white ;
}
.DOB {
    padding-bottom:60px;
}
.DOB  input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.DOB input::placeholder {
    color:black;
    padding-left: 3px;
}
.DOB  label {   

    margin-right: 60px; 
    align-content: space-between;
    font-size: 18px;
    color:white ;
}
.address {
    padding-bottom:60px;
}
.address  input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.address input::placeholder {
    color:black;
    padding-left: 3px;
}
.address label {

    margin-right: 25px; 
    align-content: space-between;
    padding-right: 5px;
    font-size: 18px;
    color:white ;
}
.education {
    padding-bottom:60px;
}
.education  input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.education input::placeholder {
    color:black;
    padding-left: 3px;
}
.education label {

    margin-right: 10px; 
    align-content: space-between;
    padding-right: 5px;
    font-size: 18px;
    color:white ;
}


.photo {
    padding-bottom:60px;
}

.photo  input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.photo input::placeholder {
    color:black;
    padding-left: 3px;
}
.photo label {

    margin-right: 10px; 
    align-content: space-between;
    padding-right: 40px;
    font-size: 18px;
    color:white ;
}



.left-side-search-section {
    flex:3;
  
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 0;
  
    
    
}


.right-side-search-section {
    flex:3;
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-left: 50px;
   padding-bottom: 0;

   
    justify-content: center;
}
.emailId{
    padding-bottom: 60px;
}
.emailId input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.emailId input::placeholder {
    color:black;
    padding-left: 3px;
}
.emailId label {

    margin-right: 20px; 
    padding-right: 34px;
    font-size: 18px;
    color:white ;
}
.password{
    padding-bottom:60px;
}
.password input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.password input::placeholder {
    color:black;
    padding-left: 3px;
}
.password label {   

    margin-right: 20px; 
    align-content: space-between;
    font-size: 18px;
    color:white ;
}
.phone{
    padding-bottom:30px;
}
.phone input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.phone input::placeholder {
    color:black;
    padding-left: 3px;
}
.phone label {

    margin-right: 20px; 
    align-content: space-between;
    padding-right: 5px;
    font-size: 18px;
    color:white ;
}


.speciality{
    padding-bottom: 60px;
}
.speciality input{
    width: 70%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.speciality input::placeholder {
    color:black;
    padding-left: 3px;
}
.speciality label {

    margin-right: 0px; 
    padding-right: 25px;
    font-size: 18px;
    color:white ;
}

.content-section {
    
  
    box-sizing: border-box;
    width: 100%;
    height: 100px; 
   
    cursor: pointer; 
  
}
.content-section .create-btn{
    margin-left: 35%;
    margin-top:-10px;
 
}
.create-btn{
    padding:15px;
    background-color:white;
    border-radius: 20px;
    border: none;
    font-family: "poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color:black;
  width: 30%;
}


.create-btn:hover{
    background-color:black;
    color: white;
}
input[type="file"]{
    outline: none ;
    border: none;
    padding: 7px;
 
}