<div class="container">
    <div class="header-section">
      <div class="title"> Create New Subscriber</div>
      <button class="btn" (click)="backtouserlist()" >Back</button>
    
    </div>
  
    <div class="body-section">
      <div class="search-section">
        <div class="left-side-search-section">
          <div class="name">
            <label>Name:</label>
            <input type="name" id="name" placeholder="Enter your name" required name="name"  [(ngModel)]="formData.name">
            
          </div>
  
          <div class="DOB">
            <label>DOB:</label>
            <input type="date" id="DOB" placeholder="Enter your DOB" required name="DOB"  [(ngModel)]="formData.dob">
            
          </div>
          <div class="address">
            <label>Address:</label>
            <input type="address" id="address" placeholder="Enter your address" required name="address"  [(ngModel)]="formData.address">
            
          </div>
        </div>
        <div class="right-side-search-section">
          <div class="emailId">
            <label>Email:</label>
            <input type="email" id="email" placeholder="Enter your EmailID" required name="email"[(ngModel)]="formData.emailId">
            
          </div>
  
              <div class="password">
                <label>Password:</label>
                <input type="password" id="password" placeholder="Enter your password" required name="password"[(ngModel)]="formData.password">
                
              </div>
              <div class="phone">
                <label>Phone no:</label>
                <input type="phone" id="phone" placeholder="Enter your phone no" required name="phone"[(ngModel)]="formData.phone">
                
              </div>
          
  
        </div>
        
      </div>
  
      <div class="content-section">
        <button class="create-btn" (click)="createuser()" >Create</button>
    
      
          
      </div>
    </div>
  
    