@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toast-container {
   padding-top: 17%;
    left: 87%;
    transform: translateX(-50%);
  }
  .toast-success {
    background-color: black !important; 
    color: #fff !important; 
    
  }
  .toast-error {
    background-color: black !important; 
    color: #fff !important; 
  
   
    transform: translateX(-150%);
  
  }
  .toast-doc {
    background-color: black !important; 
    color: #fff !important; 
  
   
    transform: translateX(-150%);
  
  }
.toast-msg{
  transform: translateX(-200%);
}

  