
.container {
    box-sizing: border-box;
    border:  none;
    width: 100%;
    height: 100vh;
     background:url('/assets/img1.jpg') no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.sidebar {
    flex:2;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    background-color:transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    background: rgba(225,225,225,0.1);
   
    backdrop-filter: blur(5px);  
    box-shadow: inset 0 0 5px 0 #fff,inset 0 0 10px 0 #fff;

}
.sidebar h2{
    font-family: poppins,sans-seif;
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 200;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sidebar hr{
     width: 100%;
     background: linear-gradient(to right,transparent,rgba(225,225,225,0.6),transparent);
     border: none;
     height: 2px;
     outline: none;
}
.sidebar h1{
    font-family: Poppins;
    color: #fff;
    font-size: 25px;
    padding-bottom: 10px;
    padding: 5px;
    font-weight: 200;
    display:flex;
    align-items: center;
    justify-content: center;

}
.sidebar h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: poppins,sans-seif;
    font-size: 30px;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sidebar #menu {
line-height: 50px;
}
.sidebar #menu a{
    width:60%;
 
    text-decoration: none ;
    
    font-size: 20px;
    color:white;
    font-family: Poppins;
    display:flex;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35%;
}
 
    


.sidebar #menu a:hover {

    background: rgba(225,225,225,0.40);
    border-radius: 10px;
}





.main-section {
    flex:8;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;

    background-color:transparent;
}
