@import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900& display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    text-decoration: none;
}
.container {
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: poppins,sans-seif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "poppins",sans-serif;
}

.header-section {
    flex:.5;
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "poppins",sans-seif;
    padding: 10px;
}
.header-section .btn{
    height: 40px;
    width: 150px;
    margin-top: 19px;
    margin-right: 20px;
 
  }
  .header-section .btn-2{
    height: 40px;
    width: 150px;
    margin-top: 19px;
 
  }
  .btn:hover{
      background-color: #333;
      color: white;
  }
  .btn-2:hover{
    background-color: #333;
    color: white;
}
.btn{
    padding:10px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-family: "poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-2{
    padding:10px;
    background-color:white;
  
    border-radius: 20px;
    border: none;
    font-family: "poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: white;
    font-style: none;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-right: 200px;
    margin-left: 200px;
}


.body-section {
    
    
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.search-section {
    flex: 5;
    
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    
    
}
.doctor-search{
    padding-bottom: 20px;
}
.doctor-search input{
    width: 30%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.doctor-search input::placeholder {
    color:black;
    padding-left: 3px;
}
.doctor-search label {

    margin-right: 20px; 
    padding-right: 20px;
    font-size: 18px;
    color:white ;
}
.date-search{
    padding-bottom:20px;
}
.date-search input{
    width: 30%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.date-search input::placeholder {
    color:black;
    padding-left: 3px;
}
.date-search  label {

    margin-right: 50px; 
    
    align-content: space-between;
    font-size: 18px;
    color:white ;
}
.name-searchh{
    padding-bottom:20px;
}
.name-search input{
    width: 30%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    color:black ;
}
.name-search input::placeholder {
    color:black;
    padding-left: 3px;
}
.name-search label {

    margin-right: 10px; 
    align-content: space-between;
    padding-right: 30px;
    font-size: 18px;
    color:white ;
   
}

.left-side-search-section {
    flex:3;
  
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    padding-top: 60px;
    padding-left: 70px;
  
    
    
}


.right-side-search-section {
    flex:1;
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
   

    display: flex;
    justify-content: center;
}
 

.content-section {
    
  
    box-sizing: border-box;
    width: 100%;
    height: 350px; 
    overflow-y: auto;
    cursor: pointer; 
  
}




.content-section table {
    width: 100%;
    border-collapse: collapse;
}


.content-section th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 2;
}


.content-section tbody tr:nth-child(even) {
    --even-row-background-color: #f9f9f9;
    background-color: var(--even-row-background-color);
}

.content-section td {
    padding: 10px;
    border: 3px solid #ddd;
    z-index: 1;
    position: relative;
}

.edit-button {
    color: black;
    border: none;
    padding: 10px;
    width:70px;
    border-radius: 20px;
    cursor: pointer;
    background-color:white; 
}


.content-section tbody tr:nth-child(even) .edit-button {
    background-color: black;
    color: white; 
}


.edit-button:focus,
.edit-button:hover {
    background-color: #333; 
}

.status-btn {
    color: black;
    border: none;
    padding: 10px;
    width:70px;
    border-radius: 20px;
    cursor: pointer;
    background-color:white; 
}


.content-section tbody tr:nth-child(even) .status-btn {
    background-color: black;
    color: white; 
}


.status-btn:focus,
.status-btn:hover {
    background-color: #333; 
}
